<!doctype html>
<html>

<head>
    <title>Lista de tareas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/1a96b19b40.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            {% load static %}
            <a class="navbar-brand"><i class="fas fa-bicycle"></i></a>
            <div class="d-flex align-items-center">
                {% if user.is_authenticated %}
                <strong>Hola, {{ user.username }} </strong>
                <a class="btn btn-danger mx-3" href="/cerrar-sesion">Cerrar sesión</a>
                {% else %}
                <a class="btn btn-danger mx-3" href="/iniciar-sesion">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>

</html>