{% extends 'base.html' %}
{% block content %}
<h2 class="text-center my-4 text-uppercase">Iniciar Sesión</h1>
{% load crispy_forms_tags %}
<form method="POST">
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            {% csrf_token %}
            {{form|crispy}}
            <div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</form>
{% endblock %}